* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #5e504a;
  --secondary-color: #8ea170;
  --white: #f5f6fb;
}

body {
  background-color: var(--white);
  overflow-x: hidden;
  min-width: 100vw;
}

/* font  */
.belltm-bold {
  color: var(--primary-color);
  font-family: "Bell MT", serif;
  font-weight: bold; /* Mengatur ketebalan font menjadi bold */
  /* text-align: center; */
  /* font-size: 96px; */
}
.belltm {
  /* color: var(--white); */
  font-family: "Bell MT", serif;
  text-align: center;
  /* font-size: 96px; */
}
span {
  color: var(--secondary-color);
}
.poppins-bold {
  font-family: "Poppins", sans-serif; /* Mengatur jenis font menjadi Poppins */
  font-weight: 500; /* Mengatur ketebalan font menjadi bold */
  /* text-align: center; */
}
.poppins {
  font-family: "Poppins", sans-serif; /* Mengatur jenis font menjadi Poppins */
  /* text-align: center; */
}
.px96 {
  font-size: 96px;
}
.px128 {
  font-size: 128px;
}
.px24 {
  font-size: 24px;
}
.px64 {
  font-size: 64px;
}
.px48 {
  font-size: 48px;
}
.px40 {
  font-size: 40px;
}
.px12 {
  font-size: 12px;
}
.italic {
  font-style: italic;
}
ul {
  list-style: none;
}
.bg-brown {
  background-color: var(--primary-color);
}
.gold {
  color: #ffd567;
}
button {
  border-radius: 10px;
}
/* HEADER */
.header-section {
  background-color: var(--white);
}

/* LOGO */

.logo {
  padding: 1rem 0rem;
  display: none;
  place-items: center;
}

.logo img {
  height: 5rem;
}

/* NAVBAR */

.navbar {
  display: flex;
  font-family: "Poppins", sans-serif; /* Mengatur jenis font menjadi Poppins */
  font-weight: bold;
  background-color: var(--primary-color);
  text-align: center;
  z-index: 999;
}

.navbar img {
  height: 4rem;
}
.nav-item {
  margin: 0 3vw;
}
.navbar-brand,
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .navbar-nav {
    margin: 0 auto;
    display: flex !important;
    flex-direction: row !important;
  }
}

.navbar-nav .nav-link {
  text-align: center;
  color: var(
    --white
  ) !important; /* Mengatur warna teks untuk brand dan link menjadi putih */
  transition: all ease-in-out 0.15s;
}

.navbar-nav .nav-link:hover {
  color: var(--secondary-color) !important;
  transform: scale(1.1);
}

@media (max-width: 992px) {
  .navbar .nav-item:nth-child(3) {
    display: none;
  }
}

/* HEADER CONTENT */
.header-carousel {
  display: flex;
  background-position: center top;
  background-size: cover;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-carousel::after {
  content: "";
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  background-image: linear-gradient(180deg, #00000069, #000000c5);
}

.header-carousel .header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.header-carousel .header-wrapper img {
  height: 6rem;
  width: fit-content;
  display: none;
}

.header-carousel h1 {
  color: var(--white);
  font-family: "Bell MT", serif;
  font-weight: bold; /* Mengatur ketebalan font menjadi bold */
  text-align: center;
  font-size: 128px;
}

.header-carousel span {
  color: var(--secondary-color);
}

.header-carousel img {
  width: 100%;
  max-height: 10%;
}

@media (max-width: 992px) {
  .header-carousel .header-wrapper img {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .header-carousel .header-wrapper img {
    width: 25%;
    height: auto;
  }

  .header-carousel .header-wrapper h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}
/* about-section */
.aboutus {
  color: var(--primary-color);
}
.buttons {
  border-radius: 2rem;
  width: 20rem;
  padding: 1rem 0rem;
}
.aboutus span {
  color: var(--secondary-color);
}
.images-list {
  display: flex;
  flex-direction: column;
}
.aboutus img {
  height: 300px;
  border-radius: 2cap;
  margin: 1rem 5rem;
}
/* CSS untuk membuat teks disembunyikan */
/* CSS untuk membuat teks disembunyikan dengan tanda elipsis */
#dots {
  display: none;
}
#more {
  display: none;
}

/* CSS untuk tautan "Read More" */
#readMoreButton {
  display: block;
  margin-top: 10px; /* Atur jarak dari teks */
}

/* WORKSHOP CLICKBAIT */
.workshop-clickbait {
  padding: 5rem 0;
  color: var(--primary-color);
}
.buttons {
  border-radius: 2rem;
  width: 20rem;
  padding: 1rem 0rem;
}
.workshop-clickbait span {
  color: var(--secondary-color);
}
.images-list {
  display: flex;
  flex-direction: column;
}
.workshop-clickbait img {
  max-width: 500px;
}
@media (max-width: 765px) {
  .workshop-clickbait img {
    margin: 5rem 0 0 0;
  }
}

/* PRODUCT */
/* Slider styles */

.slider-container {
  padding: 10px 20rem;
  max-height: 100vh;
}
.verticalslider-container {
  padding: 10px 0rem;
  max-height: 100vh;
}
@media (max-width: 768px) {
  .slider-container {
    padding: 10px 0;
  }
}

.slides-wrapper {
  margin: auto;
  overflow: hidden;
}
.verticalslides-wrapper {
  margin: auto;
  overflow: hidden;
  height: 80vh;
}

.slides-container {
  padding: 0 10px;
}
.verticalslides-container {
  padding: 0 10px;
}

.slider-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  transition: 1s;
  max-height: calc(100vh - 80px);
  /* width: calc(100% -50%); */
}
.verticalslider-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-direction: column;
  overflow: hidden; */
  transition: 1s;
  max-width: calc(100vh - 80px);
  overflow: hidden;
  /* width: calc(100% -50%); */
}

.slider-item {
  /* background-color: #bdbdbd; */
  margin: 0 1rem 0 1rem;
  /* min-height: 150px; */
  /* width: 50%; */
}
.verticalslider-item {
  margin: 0 1rem 0 1rem;
  height: auto;
}

.slider-item img {
  /* width: 50%; */
}

.slider-arrows {
  display: flex;
  justify-content: space-between;
  /* height: 30px; */
  padding: 0 10px;
  margin-top: 10px;
}
.verticalslider-arrows {
  text-align: center;
}

.slider-arrow-prev,
.slider-arrow-next {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 24px;
  border-radius: 2rem;
  cursor: pointer;
}
.verticalslider-arrow-prev,
.verticalslider-arrow-next {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 24px;
  border-radius: 2rem;
  cursor: pointer;
}

.slider-arrow-prev:hover,
.slider-arrow-next:hover,
.verticalslider-arrow-next:hover,
.verticalslider-arrow-prev:hover {
  background-color: #eeeeee;
}
.product {
  margin: 2rem 0;
  padding: 5rem 0;
  background-color: rgb(101, 86, 80);
  background-image: url("img/image\ 14.svg");
  background-size: 1000px;
}

/* MAPS / QUOTES */
.maps {
  margin: 20vh 0;
}

.maps h1 {
  color: var(--primary-color);
}

.maps h1 span {
  color: var(--secondary-color);
}

@media screen and (max-width: 640px) {
  .maps p {
    font-size: 1.25rem;
  }
}

/* WORKSHOP DETAILS */
.workshop-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: var(--white);
  padding: 0;
  background-color: rgb(77, 66, 61);
}

.workshop-details h2:first-child {
  color: var(--white);
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
}

.content p {
  text-align: justify;
}

.carousel-item img {
  height: 300px;
}

.carousel-container {
  display: grid;
  place-items: center;
}

.workshop-details span {
  color: var(--secondary-color);
}

.workshop-details .container-fluid .row {
  background-color: rgb(77, 66, 61);
  transition: all ease-out 0.3s;
}

.workshop-details .container-fluid .row:hover {
  background-color: rgb(101, 86, 80);
  background-image: url("img/image\ 14.svg");
  background-size: 1000px;
}

.workshop-details .container-fluid .row img {
  width: 100%;
  min-height: 560px;
  object-fit: cover;
  filter: grayscale(1);
}

.workshop-details .container-fluid .row:hover img {
  filter: grayscale(0);
}

@media screen and (max-width: 1200px) {
  .workshop-details .container-fluid .row {
    display: flex;
    flex-direction: column-reverse !important;
    gap: 2rem;
    padding-bottom: 7rem;
  }

  .workshop-details .container-fluid .row img {
    min-width: 100%;
    min-height: auto;
  }
}

@media screen and (max-width: 640px) {
  .content {
    padding: 0 1.5rem;
  }

  .content h2:first-child {
    font-size: 48px;
  }
}

/* COREVALUES */
.corevalues {
  background-color: #8ea170;
  color: var(--white);
  padding: 5rem 0;
}

.corevalues h2 {
  color: var(--white);
}

.workshop-details-page .corevalues {
  background-color: var(--white);
  color: var(--primary-color);
}

.workshop-details-page .corevalues h2 {
  color: var(--secondary-color);
}

.corevalues .row .col-12 {
  width: 300px;
}

.corevalues span {
  color: var(--secondary-color);
}

.corevalues i {
  padding: 2rem 0;
}

@media screen and (max-width: 640px) {
  .corevalues h1 {
    font-size: 5rem;
  }
}

/* FOOTER  */
.footer {
  background-color: var(--primary-color);
  padding: 10vh 0;
  /* margin: 10vh 0 10vh 0; */
  color: var(--white);
  font-family: "Poppins", sans-serif; /* Mengatur jenis font menjadi Poppins */
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  position: relative;
}

.footer h2 {
  font-size: 2rem;
  font-family: "Bell MT", serif;
  font-weight: bold; /* Mengatur ketebalan font menjadi bold */
}

.footer img {
  height: 5rem;
  text-align: start;
  display: flex;
  align-items: center;
}

.footer .kiri {
  /* display: flex; */
  text-align: start;
}

.footer .kiri a {
  margin-bottom: 6px;
  transition: all ease-in-out 0.15s;
}

.footer .kiri a:hover {
  font-weight: bolder;
}

.copyright p,
.credits p,
.copyright span {
  font-size: 0.8rem !important;
}
.copyright {
  padding-top: 2rem;
  position: absolute;
  bottom: 5vh;
  display: flex;
  justify-content: center; /* Mengatur posisi horizontal menjadi tengah */
  align-items: center;
  margin-bottom: -1rem;
}

.credits {
  position: absolute;
  bottom: 0.5vh;
  display: flex;
  justify-content: center; /* Mengatur posisi horizontal menjadi tengah */
  align-items: center;
}

@media (max-width: 992px) {
  .footer {
    padding: 2rem;
  }

  .footer img {
    width: 50%;
    text-align: center;
    height: fit-content;
    margin: auto;
    margin-bottom: 3rem;
  }

  .footer .kiri {
    margin-bottom: 1rem;
  }

  .copyright {
    position: static;
  }

  .credits {
    position: static;
  }
}

/* @media (max-width: 720px) {
  .copyright p,
  .credits p,
  .copyright span {
    font-size: 0.5rem !important;
  }
} */
